@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

// COLORS

$danger: #c62828;
$danger-dark: #b71c1c;
$danger-light: #d32f2f;

$info: #1565c0;
$info-dark: #0d47a1;
$info-light: #1976d2;

$success: #2e7d32;
$success-dark: #1b5e20;
$success-light: #388e3c;

$warning: #ef6c00;
$warning-dark: #e65100;
$warning-light: #f57c00;

$primary: #162447;
$primary-dark: #13203f;
$primary-light: #2d3959;

$secondary: #991B30;
$secondary-dark: #89182b;
$secondary-light: #a33144;

$tertiary: #b7b7b7;
$tertiary-dark: #a4a4a4;
$tertiary-light: #d1d1d1;

$light: #cfcfcf;
$black: #000000;
$body: #e6e6e6;
$disabled: #a3a3a3;

$transition:all 0.2s ease-in-out;
$radius : 2px;
$box-shadow: 0px 0px 12px 0px;
$box-shadow-top: 0px -5px  3px;
$box-shadow-left: -5px 0px  3px;
$box-shadow-bottom: 0px 5px  3px;
$box-shadow-right: 3px 0px  5px;
$border : solid 1.5px;

*{
    margin:  0;
    padding: 0;
}

html {scroll-behavior: smooth;}

body{
    font-family: 'Saira Condensed', sans-serif !important;
    font-size: 1.1em !important;
    font-weight: 600;
    background: $body;
    color: $primary;
    letter-spacing: 2px !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Jura', sans-serif !important;
    font-weight: 700 !important;
}

.dev{border: dashed 1px #cfcfcf;}

.text-body{color: $body !important;}
.text-primary{color: $primary !important;}
.text-secondary{color: $secondary !important;}
.text-line-primary{border-bottom: solid 3px $primary;}
.text-line-secondary{border-bottom: solid 3px $secondary;}

.bg-tertiary{background: $tertiary !important;color: $primary !important;}

a.btn-link{
    color: $primary !important;
}

/////////////////////

.btn-xl{
    height: 4em;
}

.nav-bar{
    height: 120px;
    background: transparent !important;
    color: $body !important;
    transition: $transition !important;

    & .nav-bar-logo{
        display: flex;
        align-items: center;
        & > div > img{height: 100px;display: none}
    }

    &.active{
        background: $tertiary !important;
        height: 75px;
        color: $primary !important;

        & .nav-bar-logo{& > div > img{height: 60px;display: block}}
    }
}

#banner{
    background: url('./img/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 92%, 79% 97%, 36% 93%, 0 97%, 0 0);

    & .banner-services{
        & div {
            font-size: 1.5em;
            margin-right: 1em;
            color: $body;
        }
    }

    & .btn-go-down{
        & div{
            border-radius: 5px;
            border:solid 3px $secondary;
            background: rgba($color: $tertiary, $alpha: .5);
            color: $secondary;
            height: 50px;
            width: 40px;
        }
    }
}

#general{
    background: url('./img/pentagono.png');
    background-attachment: fixed;
    margin-top: -3em;
    padding: 5em 0 3em 0;
}

.card-services{
    display: flex;
    justify-content: center;
    & .card-services-img{
        width: 90%;
        & img{
            border-radius: 20px;
            width: 100%;
        }
    }
    
    & .card-services-text{
        width: 100%;
        background: $tertiary;
        border-radius: 20px;
        padding: 1em;
        box-shadow: $box-shadow #000;
        margin-top: -5em;

        & h4{text-align: center;}
    }
}

#contact{
    color: $body;
    background: $secondary;
    margin-top: 1em;
    & ul{
        list-style: none;
        & li {
            margin-bottom: 1em;
        }
    }
    & .general-contact{
        background: url('./img/contact.jpg');
        background-attachment: fixed;
        background-size: cover;
        height: 200px;
        width: 100%;
    }
    & .contact-form{
        & form{
            color: $primary;
            background: $tertiary;
            width: 100%;
            margin-top: 1em;
            padding: 3em 1em 3em 1em;
            border-radius: 20px;
            box-shadow: $box-shadow #000;
        }

    }

    & .map{
        margin-top: 5em;
        clip-path: polygon(53% 6%, 78% 0, 100% 4%, 100% 100%, 0 100%, 0 0);

        & iframe{
            width: 100%;
            height: 25em;

        }
    }
}

footer{
    background: $primary;
    color: $body;

    & .social-icons{
        color: $body;
        &:hover{
            color: $tertiary;
        }
    }
}

.sidebar{
    width: 300px;
    height: 100%;
    background: $primary;
    color: $body;
}

@media (min-width: 768px) { // md

    .card-services{
        &.card-services-left,
        &.card-services-right{
            display: block;
            position: relative;
            & .card-services-img{
                width: 20em;
                height: 13em;
                & img{height: 100%;transition: $transition;}
            }
            
            & .card-services-text{
                display: flex;
                width: 30em;
                height: 13em;
                position: absolute;
                top: 5em;
                left: 10em;
                transition: $transition;
                & h4{text-align: center;}
            }   
        }
    }

    #contact{  
        & .contact-form{
            & form{
                margin-top: -5em;
            }
    
        }
    }

    .sidebar{
        width: 300px;
    }
}

@media (min-width: 1200px) { // lg

    .card-services{
        justify-content: flex-end;
        &.card-services-left{
            & .card-services-img{
                width: 25em;
                height: 20em;
                & img{height: 100%;}
            }
            
            & .card-services-text{
                width: 40em;
                height: 15em;
                top: 7.5em;
                left: 20em;
                & h4{text-align: center;}
            }   

            &:hover{
                & .card-services-img{ & img{margin-left: 1em;}}
                & .card-services-text{
                    margin-left: -1em;
                } 
            }
        }

        &.card-services-right{
            display: flex;
            & .card-services-img{
                width: 25em;
                height: 20em;
                & img{height: 100%;}
            }
            
            & .card-services-text{
                width: 40em;
                height: 15em;
                top: 7.5em;
                right: 20em;
                & h4{text-align: center;}
            }   

            &:hover{
                & .card-services-img{ & img{margin-left: -1em;}}
                & .card-services-text{
                    margin-left: 1em;
                } 
            }
        }
    }
}
